Watsapp Buisness Agent.json
{
  "name": "Watsapp Buisness Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        272
      ],
      "id": "28677537-e777-4bad-ab6f-5b614263e93c",
      "name": "WhatsApp Trigger",
      "webhookId": "c0a4ae29-5f9d-4211-b4d4-3b664643505e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "8htrJZM6z4AXeDTZ",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "507923fe-a188-4a11-9f73-35dae677f946"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7cd07af-35e2-419f-a147-f46634b064aa",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d796da0d-fcef-4eab-96c9-7874c8a63d59",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -432,
        256
      ],
      "id": "7c6b74a4-a21e-4fae-a961-bbe853888e94",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "you are a social media manager. read the input text and make this text a social media post. you will generate a humble, intuitive and attractive social media post for facebook."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        -240
      ],
      "id": "fb5d34bd-caf4-49d4-b5d7-4e8a3fc46d56",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        -16
      ],
      "id": "d2215cb7-3c5b-4376-8831-72be4d13b205",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8cj2HuOZBwKm2dWN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "when some one gives a negative review or comment. you will handle the customer humbly , patiently and wisely. ask about the details of problem and ensure the customerer that we are sending your concerns to our team that will contact and resolve your problem soon\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        160
      ],
      "id": "6c02e1d9-d7aa-47d7-a51a-817479567885",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "59daa631-5253-4572-898c-6ea342837c9c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8cj2HuOZBwKm2dWN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        384
      ],
      "id": "6a8dc9e5-50c4-48d0-b99e-c0f2abbf6955",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "mmhashmiiii@gmail.com",
        "subject": "bad review",
        "message": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} complained about our product and gave the bad review. Please take necessary actions. here is the complain {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        160
      ],
      "id": "dc80ddc2-3b29-4a36-a9f1-329fa5d672a8",
      "name": "Send a message",
      "webhookId": "fc497ba3-62f2-47dd-9926-7b6bc88c18aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ngi1YCaou1OpnNMS",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful customer service agent. you will answer politely and humbly to all quries {{ $('WhatsApp Trigger').item.json.messages[0].text.body }} from the given tools named FAQs and clothing store knowledge base.",
        "options": {
          "systemMessage": "You are a helpful customer service agent. you will answer politely and humbly to all quries from the given tools named FAQs and clothing store knowledge base.  Use the following FAQ information to answer user questions:\n{{ $('Google Docs').item.json.body.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        608
      ],
      "id": "43d23af6-d681-47a8-b822-37998278012b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        800
      ],
      "id": "949b9820-63ff-410c-9064-908fbcbe0a7a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "8cj2HuOZBwKm2dWN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        816
      ],
      "id": "aa93959e-62ad-49cd-bac4-8ff6f796284d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1FNMGaUbUsegc6owr3WZKEH-VW3vD0K67mSeWczbVH1I/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        112,
        800
      ],
      "id": "7fd84355-4659-410a-b054-01bf6bc51edd",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5H1wodGMXpirAIgf",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.messages[0].text.body }}"
            }
          ]
        },
        "options": {
          "systemMessage": "you are sentiment analyzer. analyze and classify the text as positive, negative or neutral. Respond with exactly one word — Positive or Negative or Neutral (no symbols or formatting).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        272
      ],
      "id": "f6f15b1b-35dc-4078-b93a-b0f526e51116",
      "name": "Sentiment Analyzer",
      "credentials": {
        "googlePalmApi": {
          "id": "8cj2HuOZBwKm2dWN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-preview-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-preview-image-generation"
        },
        "prompt": "=you will generate an attractive thankyou image, which is relative to  {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "id": "d320d1ba-ac2d-4dab-93c8-af52331c3add",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "8cj2HuOZBwKm2dWN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -144
      ],
      "id": "90bec2cd-da3d-47f0-8417-9778bc11635b",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqg1ctOivFkHkjGQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "923345332804",
        "message": "=plz give approval for the review post: {{ $('AI Agent').item.json.output }} \nimage:{{ $json.webViewLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        704,
        -144
      ],
      "id": "b982c6a0-a999-4e80-abd9-b2899598f340",
      "name": "Send message and wait for response",
      "webhookId": "d8b353f6-2c43-4c3e-af1d-7802f17900d3",
      "credentials": {
        "whatsAppApi": {
          "id": "qwoB79Bg4FV00zy8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "132249b1-3fb2-451f-b39d-65d9c2c37bd5",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        -144
      ],
      "id": "9c70bc2e-900d-48dd-9e00-3c6357a655c7",
      "name": "If"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $('Upload file').item.json.webContentLink }}"
              },
              {
                "name": "message",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1168,
        -176
      ],
      "id": "c9d86d6c-c39c-4512-8b41-3fcfb3b64d48",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "GtXJSrLNbhW4VYKs",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "803838836146843",
        "recipientPhoneNumber": "923345332804",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        256,
        368
      ],
      "id": "cb6636d8-4535-42d5-bbd3-e76dcd3ec659",
      "name": "Send message",
      "webhookId": "6b4fc11e-ae83-459f-a1d0-1a01a93cc094",
      "credentials": {
        "whatsAppApi": {
          "id": "qwoB79Bg4FV00zy8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "803838836146843",
        "recipientPhoneNumber": "923345332804",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        608
      ],
      "id": "ef8e1143-e545-417b-86a6-0cd1d264094e",
      "name": "Send message1",
      "webhookId": "373de1ec-6f57-489c-9f23-6c8a405f82e1",
      "credentials": {
        "whatsAppApi": {
          "id": "qwoB79Bg4FV00zy8",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Sentiment Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analyzer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37527291-df72-4a75-8c11-a924283653ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6a55fe373588851a2718f38b2b67cf7c0a4a1729d7181bb909226a8d759ba23"
  },
  "id": "G7GKfk4LriGYGzS1",
  "tags": [
    {
      "createdAt": "2025-10-19T19:04:24.685Z",
      "updatedAt": "2025-10-19T19:04:24.685Z",
      "id": "k1arKmfBmaSFqe1n",
      "name": "practice"
    }
  ]
}